.card {
  background-color: $white;
  padding: 20px;
  transition: .3s;

  &:hover,
  &:focus {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  }

  @media (min-width: $desktop-width) {
    padding-right: 30px;
    padding-bottom: 30px;
  }
}

.card__buy {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.card__title {
  font: {
    family: $montserrat-bold;
    size: 18px;
  }
  line-height: 32px;
  margin: 0;
  padding-bottom: 5px;

  @media (min-width: $tablet-width) {
    font: {
      size: 24px;
    }
    line-height: 36px;
  }
}

.card__desc {
  font: {
    family: $montserrat-regular;
    size: 14px;
  }
  line-height: 20px;
  margin: 0;
  padding: 0 0 15px;

  @media (min-width: $tablet-width) {
    padding: 4px 0 19px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 21px;
  }
}

.card__price {
  font: {
    family: $montserrat-semi-bold;
    size: 20px;
  }
  line-height: 35px;
}

.card__btn {
  font: {
    family: $montserrat-regular;
    size: 14px;
  }
  line-height: 20px;
  color: $white;
  background-color: $base-primary;
  border-radius: 4px;
  padding: 8px 20px;
  transition: .3s;

  &:hover {
    background-color:rgba(120, 89, 207, 0.7);;
  }
}

.card__add-basket-icon {
  width: 22px;
  height: 16px;
  fill: $white;
}

.card__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 20px;

  @media (min-width: $tablet-width) {
    padding-top: 48px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 0 25px;
  }
}
