.catalog {
  background-color: $lightest-grey;
  padding-top: 50px;
  padding-bottom: 50px;

  @media (min-width: $tablet-width) {
    padding-top: 78px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 95px;
  }
}

.catalog__list {
  @media (min-width: $tablet-width) {
    padding-top: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}


.catalog__wrap {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 340px 1fr;
    gap: 30px;
  }
}

.catalog__title {
  font: {
    family: $montserrat-bold;
    size: 12px;
  }
  line-height: 16px;
  color: $base-primary;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 5px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-bottom: 9px;
  }
}

.catalog__subtitle {
  font: {
    family: $montserrat-bold;
    size: 24px;
  }
  line-height: 36px;
  text-align: center;
  margin: 0;
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    font: {
      size: 42px;
    }
    line-height: 54px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 42px;
  }
}
