.contacts-list {
  padding-bottom: 13px;

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.contacts-list li {
  font: {
    size: 14px;
  }
  line-height: 20px;
  padding-bottom: 4px;
  text-transform: none;
  display: flex;
  gap: 6px;

  &:nth-child(2) {
    gap: 0;
  }
}
