.filter form {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-areas:
      "price fieldsets"
      "buttons buttons";
      grid-template-columns: 230px 1fr;
      column-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.filter {
  @media (min-width: $desktop-width) {
    margin-left: 20px;
  }
}

.filter__fieldsets {
  @media (min-width: $tablet-width) {
    grid-area: fieldsets;
    display: flex;
    gap: 40px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    gap: 0;
  }
}

.filter__price {
  grid-area: price;
  margin-bottom: 20px;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 230px;
  }

  @media (min-width: $desktop-width) {
    width: 320px;
    padding-bottom: 6px;
  }
}

.filter__price-controls span {
  display: flex;
  align-items: center;
}

.filter__buttons-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin-left: 3px;
  }
}

.filter__heading {
  font: {
    family: $montserrat-semi-bold;
    size: 16px;
    weight: 600;
  }
  line-height: 34px;
  margin: 0;
  padding: 0;
}

.filter__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;

  @media (min-width: $tablet-width) {
    grid-area: buttons;
    margin-top: 20px;
  }
}

.filter__btn {
  width: 160px;
  font: {
    family: $montserrat-regular;
    size: 14px;
  }
  line-height: 24px;
  padding: 10px 9px;
  border: none;
  border-radius: 4px;
  transition: 0.3s;

  &--apply {
    color: $white;
    background-color: $base-primary;
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &--reset {
    color: $base-primary;
    background-color: $white;
  }

  @media (min-width: $tablet-width) {
    padding: 8px 4px;
  }

  @media (min-width: $desktop-width) {
   width: 150px;
  }
}

.filter__form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filter__price-controls {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;

  @media (min-width: $tablet-width) {
    padding-top: 8px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.filter__price-controls-input {
  width: 103px;
  color: $base-black;
  border: 2px solid $primary-lighter;
  border-radius: 4px;
  padding: 10px 6px;
  text-align: center;
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  @media (min-width: $tablet-width) {
    width: 77px;
  }

  @media (min-width: $desktop-width) {
    width: 120px;
  }
}

.filter__price-controls-input--min {
  @media (min-width: $tablet-width) {
    margin-left: 8px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.filter__price-controls-input::placeholder {
  color: $base-grey;
  text-align: center;
}

.filter__range-controls {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  padding: 24px 0;

  &:disabled {
    color: $base-grey;
  }
}

.filter__range-scale {
  height: 5px;
  background: $light-grey;
}

.filter__range-bar {
  height: 5px;
  left: 0;
  right: 0%;
  position: absolute;
  background: $primary-lighter;
}

.filter__range-toggles {
  position: relative;
}

.filter__range-toggles input {
  position: absolute;
  width: 98.7%;
  height: 5px;
  top: -7px;
  background: none;
  -webkit-appearance: none;
  pointer-events: none;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  pointer-events: auto;
  background: $base-primary;
}

input[type="range"]::-moz-range-thumb {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  -moz-appearance: none;
  pointer-events: auto;
  background: $base-primary;
}

.filter__heading .filter__heading--country {
  @media (min-width: $desktop-width) {
    margin-top: 20px;
  }
}

// Скрытие плейсходера
.filter__price-controls-input:focus::-webkit-input-placeholder {
  color: transparent
}

.filter__price-controls-input:focus::-moz-placeholder {
  color: transparent
}

.filter__price-controls-input:focus:-moz-placeholder {
  color: transparent
}

.filter__price-controls-input:focus:-ms-input-placeholder {
  color: transparent
}
