.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  margin-left: 49px;

  @media (min-width: $desktop-width) {
    margin-left: 10px;
    width: 140px;
  }
}

.social-list__icon {
  width: 22px;
  height: 22px;
}

.social-list__link {
  width: 22px;
  height: 22px;
}

.social-list__vk-icon,
.social-list__ok-icon {
  width: 20px;
  height: 20px;
}

.social-list__printerest-icon {
  width: 22px;
  height: 22px;
}

.social-list__img {
  fill: $base-grey;
  transition: .3s;

  &:hover {
    fill: rgba(120, 89, 207, 0.7);
  }
}
