.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 20px;
  }
}

.sorting__text {
  font: {
    family: $montserrat-semi-bold;
    size: 16px;
    weight: 600;
  }
  line-height: 24px;
  padding-left: 4px;
}

.sorting__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.sorting__select {
  position: relative;

  &::after {
    position: absolute;
    top: 50%;
    right: 5px;
    content: "";
    display: block;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: $base-black transparent transparent transparent;
    z-index: 1;
    margin-top: -3px;
  }
}

.sorting__select select {
  display: block;
  font: {
    family: $montserrat-regular;
    size: 16px;
  }
  line-height: 24px;
  color: $base-black;
  padding: .30rem 1.5rem .30rem 1rem;
  border-radius: 5px;
  background-color: $light-grey;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  box-shadow: none;
  border: 0;
  flex: 1;

  &:hover {
    opacity: .5;
  }

  &::-ms-expand {
    display: none;
  }
}
