.user-list {
  position: absolute;
  width: 138px;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 78px;
    margin-right: 19px;
    padding-top: 11px;
  }

  @media (min-width: $desktop-width) {
    width: 217px;
    margin-right: 42px;
  }
}

.user-list__item {
  font: {
    family: $montserrat-medium;
    size: 12px;
  }
  line-height: 16px;

  &:active {
    background-color: $lightest-grey;
  }

  @media (min-width: $tablet-width) {
    @include pseudo-classes-icons;
  }

  @media (min-width: $desktop-width) {
    a {
      display: flex;
    }
  }
}

.user-list__basket-icon,
.user-list__user-icon {
  width: 18px;
  height: 21px;
}

.user-list__user span,
.user-list__item span {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
