.user-list {
  position: absolute;
  width: 138px;
  top: 20px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: fit-content;
    margin-right: 25px;
    gap: 30px;
    position: relative;
    transform: translate(50%, -50%);
  }

  @media (min-width: $desktop-width) {
    margin-right: 42px;
  }
}

.user-list__item {
  font: {
    family: $montserrat-medium;
    size: 12px;
  }
  line-height: 16px;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    a {
      display: flex;
    }
  }
}

.user-list__item svg,
.user-list__item svg {
  fill: $primary-darker;
}

.user-list__basket-icon,
.user-list__user-icon {
  width: 18px;
  height: 21px;
  padding-top: 2px;
}

.user-list__user span,
.user-list__basket span {
  display: none;

  @media (min-width: $desktop-width) {
    padding: 3px 0 0 3px;
  }
}
