@mixin pseudo-classes {
  &:hover,
  &:focus {
    background-color: $primary-lighter;
  }

  &:active {
    background-color: $primary-darker;
  }

  &:disabled {
    background-color: $base-grey;
  }
}

@mixin pseudo-classes-icons {
  &:hover,
  &:focus {
    color: $base-primary;
  }

  &:active {
    background-color: $base-secondary;
  }
}
